*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* assets  */


/* navbar -------------------------- */

nav{
    background-color: #ff6900;
    z-index: 2;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
}

#inner-nav{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* nav list  */

#nav-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}

/* nav logo  */

.logo-boolean img{
    height: 40px;
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.icons img{
    height: 20px;
}


/* main --------------------------- */

main .container img{
    /* width: 33%; */
    width: 300px;

}

main .first-row,
.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 80px;
}


main .first-row{
    /* display: flex; */
    /* flex-direction: row; */
    /* position: relative; */
    /* width: 33%; */
    margin-top: 90px;
}

main .caption{
    display: inline-block;
    position: relative;
}

main ul{
    list-style-type: none;
    /* position: absolute; */
}

main ul li:nth-child(2){
    text-transform: uppercase;
    font-weight: bold;
}

main ul .red-text{
    color: red;
}

main ul .line-through{
    text-decoration: line-through;
}

/* absolute assets --------- */

main .red-discount{
    position: absolute;
    bottom: 100px;

    padding: 2px;
    color: white;
    background-color: red;
    border: 1px solid red;

}

main .green-badge{
    position: absolute;
    bottom: 100px;
    left: 60px;

    padding: 2px;
    color: white;
    background-color: green;
    border: 1px solid green;
}


.green-badge.odd{
    left: 0;
}

main .heart{
    position: absolute;
    top: 10px;
    right: 0;

    height: 50px;
    width: 50px;

    font-size: 2.5em;
    text-align: center;
    border: 1px solid white;
    padding: 2px 5px;
    background-color: white;
}

.img-change{
    display: none;
    position: absolute;
    top: 0;
    left: 0;

}

.img:hover+.img-change{
    display: block;
}


.heart:hover{
    color: red;

}